/* Common shared styles */
*{
    font-family: 'EB Garamond', serif;
        font-family: 'Open Sans', sans-serif;
}
.text-orange{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}
.btn-transparent{
    background-color: transparent;
    border-radius: 5px;
        border: 1px solid #FD6E0A;
        font-size: 20px;
        font-weight: 700;
        padding: 18px 35px
}
/* Nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
        color: #181818;
        font-weight: 800;
        font-size: 45px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* Header related section */
.header{
    background-color: #FFF8F3;
    background-image: url(/images/developer.png);
    background-repeat: no-repeat;
}
.banner{
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-between;
}
.banner .profile-picture{
    width: 500px;
}
.banner-greeting{
    color: #474747;
    font-size: 45px;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18px;
    color: #757575;
}
.banner-content{
    max-width: 500px;
}

/* Main section styles */

/* About section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin-top: 130px 0;
}
.section-title{
        color: #181818;
        text-align: center;
        font-size: 35px;
        font-weight: 700;
}
.about-description{
    color: #757575;
}